/videos/
/out/
*.build
data/
nudge/nudge.egg-info
/nsfr/nsfr.egg-info
*__pycache*
/results/bs_data/
scripts/email_me.py
# Large Data & Models
logs/
*.log
*.pkl
events.out.tfevents*
eval_every_10_epochs.csv
trained_models/
*.mp4
